* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Galada' , cursive;
    font-family: 'Gelasio', serif;
}

.header {
    display: block;
    width: 100%;
    height: 92.71px;
    left: 56px;
    top: 54px;
    background-color: rgb(255, 255, 255);
}

.header_logo {
    position: absolute;
    width: 226px;
    height: 73px;
    left: 47px;
    top: 19px;
    font-family: 'Galada';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 73px;
    color: #000000;
}

.header_nav {
    margin: 27px 0px 0px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
    margin-top: 15px;
    position: relative;
}

.colortext {
    color:#FF9900;
}

.home a {
    width: 71px;
    height: 50px;
    left: 8px;
    top: 0px;
    font-family: 'Galada';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 50px;
    color: #FF9900;
    text-decoration: none;
}

.about a {
    font-family: 'Galada';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 50px;
    color: #575757;
    text-decoration: none;
}

.menu a {
    font-family: 'Galada';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 50px;
    color: #575757;
    text-decoration: none;
}

.contact a {
    font-family: 'Galada';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 50px;
    color: #575757;
    text-decoration: none;
}
 
.vector1 {
    position: relative;
    top: -30px;
}

.vector3 {
    position: relative;
    top: -30px;
    left: 293px;
}

.first_screen {
    display: block;
    margin: auto;
}

.first_screen h2 {
    color: red;
    font-family: 'Galdeano';
    font-style: normal;
    font-weight: 400;
    font-size: 61px;
    line-height: 64px;
    margin-top: 120px;
}

.first_screen h1 span {
    color: #FF9900;
}

.first_screen h1 {
    font-family: 'Galada';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 175px;
}

.first_screen p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: justify;
    margin-left: -5%
}

.first_screen_left__cost p {
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 77px;
    color: #FF9900;
    margin-top: 226px;
    margin-left: 2%;
}

.first_screen_left__last_cost p {

    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 58px;
    color: #575757;
    margin-left: 299px;
    margin-top: -61px;
}

.first_screen_left__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 46px;
    gap: 10px;
    width: 241px;
    height: 82px;
    left: 53px;
    top: 570px;
    background: #EA0000;
    border-radius: 20px;
    border: none;
    font-family: 'Inter';
    font-size: 31px;
    color: #FFFFFF;
}

.first_screen_right img {
    margin: auto;
    float: right;
    width: 500px;
    height: auto;
    margin-right: 50px;
}

.first_screen_left {
    margin: auto;
    max-width: 774px;
    float: left;
    width: 93%;
    margin-left: 50px;
}

@media (max-width: 900px) {
    .header_nav{
        width: 430px;
    }
}
